<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfileInput</title>
    <link rel="stylesheet" href="css/ProfileInput.css">
</head>

<body>
    <nav>
        <h2>Agrotech</h2>
    </nav>
    <form action="/EMAILUpdateInput" method="post" class="outer">
        <div class="inner">
            <label for="">Enter Your Registered Email:</label>
            <input type="text" name="EMAIL" required>
        </div>
        <div class="inner">
            <label for="">Enter Your PassWord:</label>
            <input type="password" name="PASS" required>

        </div>

        <div class="inner">
            <label for="">Enter Your New E-MAIL:</label>
            <input type="text" name="MODIFIED" required>
        </div>

        <button type="submit">SUBMIT</button>
    </form>


</body>

</html>