<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpdateProfile</title>
    <link rel="stylesheet" href="css/UpdateProfile.css">
</head>

<body>
    <nav>
        <h1>AgroTech</h1>
    </nav>
    <div class="outer-token">
        <form action="/UpdateName" method="POST" class="token">
            <button type="submit">UPDATE NAME</button>
        </form>

        <form action="/UpdateEmail" method="POST" class="token">
            <button type="submit">UPDATE EMAIL</button>
        </form>

        <form action="/UpdatePassword" method="POST" class="token">
            <button type="submit">UPDATE PASSWORD</button>
        </form>

        <form action="/UpdateMobile" method="POST" class="token">
            <button type="submit">UPDATE MOBILE-NO</button>
        </form>


    </div>
</body>

</html>